<div class="hero {% if page.author_profile %}hero--with-sidebar{% endif %}">
    <div class="hero__avatar">
        <img src="{{ base_path }}/files/profile.jpg" alt="{{ site.name }}">
    </div>
    <div class="hero__content">
        <h1 class="hero__name">{{ site.name }}</h1>
        <p class="hero__bio">{{ site.description }}</p>
        <div class="hero__social">
            <a href="http://DanielLin94144.github.io/files/Guan_Ting_Lin_CV.pdf" class="btn btn--primary"><i
                    class="fas fa-file-alt"></i> CV</a>
            <a href="https://scholar.google.com/citations?user=gojQWGIAAAAJ" class="btn btn--google-plus"><i
                    class="fab fa-google-scholar"></i> Scholar</a>
            <a href="https://www.linkedin.com/in/guan-ting-lin/" class="btn btn--linkedin"><i
                    class="fab fa-linkedin"></i> LinkedIn</a>
            <a href="https://github.com/DanielLin94144" class="btn btn--github"><i class="fab fa-github"></i> GitHub</a>
        </div>
    </div>
</div>